* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: rgb(63, 4, 4);
}

body {
  font-family: sans-serif;
  background-color: black;
  color: white;
  line-height: 1.25;
}

@font-face {
  font-family: opensans-ns;
  src: url('../fonts/OpenSansCondensedBold.woff2')
}

.main-header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.logo {
  position: absolute;
  font-size: 3rem;
  top: 20px;
  left: 10%;
  font-weight: 800;
  span {
    color: var(--accent);
  }
}

.add-new {
  position: absolute;
  color: var(--accent);
  text-decoration: none;
  padding: 20px 30px;
  border: 1px solid var(--accent);
  top: 35px;
  right: 10%;
}